@model WebApplication2.Models.detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_manufactured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_manufactured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufactured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufactured)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
