@model IEnumerable<WebApplication2.Models.detail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "details", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10">
            <label for="query">
                <input type="text" name="search" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
    <div class="col-md-10">
    <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Наименование детали")
        </th>
        <th>
            @Html.DisplayName("Цена")
        </th>
        <th>
            @Html.DisplayName("Дата производства")
        </th>
        <th>
            @Html.DisplayName("Производитель")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_manufactured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manufactured)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
