@model WebApplication2.Models.detail_list

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>detail_list</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.detail.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.work.desc_work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.work.desc_work)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
